<!DOCTYPE HTML>
<!--
	Solid State by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
<head>
    <title>Lukasz Andrzejak @ Meltir</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="{{ asset('assets/css/main.css') }}" />
    <link rel="icon" type="image/png" href="{{ asset('images/demon-circle.png') }}" />
    <noscript><link rel="stylesheet" href="{{ asset('assets/css/noscript.css') }}" /></noscript>
    {% block stylesheets %}{% endblock %}
</head>
<body class="is-preload">

<!-- Page Wrapper -->
<div id="page-wrapper">

    <!-- Header -->
    {% block header %}
    <header id="header" class="alt">
        <h1><a href="/">Lukasz Andrzejak - Meltir</a></h1>
        <nav>
            <a href="#menu">Menu</a>
        </nav>
    </header>
    {% endblock %}
{#
{'path':'youtube_list','title':'My youtube'},
{'path':'imdb_list','title':'My IMDB'},
#}
{% set menuitems = [
    {'path':'app_home','title':'Home'},
    {'path':'app_gallery','title':'Projects gallery'},
    {'path':'app_cv','title':'CV'},
    {'path':'app_youtube','title':'My Youtube'}
] %}
    <!-- Menu -->
    <nav id="menu">
        <div class="inner">
            <h2>Menu</h2>
            <ul class="links">
                {% for menu in menuitems %}
                    <li><a href="{{ path(menu.path) }}" title="{{ menu.title }}">{{ menu.title }}</a></li>
                {% endfor %}
            </ul>
            <a href="#" class="close">Close</a>
        </div>
    </nav>

    <!-- Banner -->
    {% block banner %}

    {% endblock %}

    <!-- Wrapper -->
    <section id="wrapper">
        {% block main_body %}
        {% endblock %}
    </section>

    <!-- Footer -->
    <section id="footer">
        <div class="inner">
            <h2 class="major">Get in touch</h2>
            <p>If you are looking to expand your team, like something I list here - get in touch on <a href="https://www.linkedin.com/in/meltir" target="_blank">LinkedIn</a> !</p>
            <ul class="contact">
                <li class="fa-home">Somewhere in North West London</li>
                <li class="fa-facebook"><a href="https://www.facebook.com/meltir" target="_blank">facebook.com/meltir</a></li>
                <li class="fa-linkedin"><a href="https://www.linkedin.com/in/meltir" target="_blank">linkedin.com/in/meltir</a></li>
                <li class="fa-github"><a href="https://github.com/meltir" target="_blank">github.com/meltir</a></li>
                <li class="fa-spotify"><a href="https://play.spotify.com/user/meltir" target="_blank">spotify.com/user/meltir</a></li>
                {% block sourcecode %}<li class="fa-code"><a href="https://github.com/meltir/2019.meltir.com/blob/master/src/Controller/HomeController.php" target="_blank">Page source</a></li>{% endblock %}
            </ul>
            <ul class="copyright">
                <li>&copy; www.meltir.com, All rights reserved.</li><li>Design: <a href="http://html5up.net" target="_blank">HTML5 UP</a></li>
            </ul>
        </div>
    </section>

</div>

<!-- Scripts -->
<script src="{{ asset('assets/js/jquery.min.js') }}"></script>
<script src="{{ asset('assets/js/jquery.scrollex.min.js') }}"></script>
<script src="{{ asset('assets/js/browser.min.js') }}"></script>
<script src="{{ asset('assets/js/breakpoints.min.js') }}"></script>
<script src="{{ asset('assets/js/util.js') }}"></script>
<script src="{{ asset('assets/js/main.js') }}"></script>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-1898734-1', 'auto');
    ga('require', 'displayfeatures');
    ga('send', 'pageview');
</script>
{% block javascripts %}{% endblock %}
</body>
</html>